.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  max-width: 100%;

  &__card {
    display: flex;
    flex-basis: 20rem;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    align-items: center;

    margin: $spacing;
    padding: 3rem;

    border-radius: 0.5rem;

    background-color: $brand-faded;

    &:hover {
      transition: 600ms;
      background-color: $brand-offset;
    }

    &__field {
      color: $brand-white;
    }
  }
}

.contact-text {
  font-family: 'Sanchez', serif;

  &:hover {
    color: lighten($brand-primary, 17%);
  }
}

.my-email { display: none; }
// .contact__card:hover .email-text { display: none; }
// .contact__card:hover .my-email { display: block; }
