// @import 'yoga';
// @import 'normalize';

// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome';
@import 'box-sizing';
@import 'my-variables';
@import 'navbar';
@import 'about';
@import 'portfolio';
@import 'contact';
@import 'header';

@media (max-width: 480px) {
  .logo-first {
    display: none;
  }

  .logo-last {
    margin-left: 0;
  }
}

@media (max-width: 1299px) {
  .quote {
    font-size: 2vw;
    line-height: 3vw;
  }

  .experience {
      font-size: 1vw;
      line-height: 2vw;
  }

  .customer {
    font-size: 1.8vw;
    line-height: 2.7vw;
  }
}
