// @import 'yoga';
// @import 'normalize';

// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome';
@import 'box-sizing';
@import 'my-variables';
@import 'navbar';
@import 'about';
@import 'portfolio';
@import 'contact';

#intro {
  animation-delay: 0.4s;
  animation: pulse 1.8s;
  position: absolute;
  top: calc(50vh - 6rem);
  left: 0;
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
